{% load static %}

<!-- Placed js at the end of the document so the pages load faster -->
<script src="{% get_static_prefix %}js/jquery-1.10.2.min.js"></script>
<script src="{% get_static_prefix %}js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="{% get_static_prefix %}js/jquery-migrate-1.2.1.min.js"></script>
<script src="{% get_static_prefix %}js/bootstrap.min.js"></script>
<script src="{% get_static_prefix %}js/modernizr.min.js"></script>
<script src="{% get_static_prefix %}js/jquery.nicescroll.js"></script>


<!--common scripts for all pages-->
<script src="{% get_static_prefix %}js/scripts.js"></script>