{% extends 'core/../main.html' %}
{% load static %}


<!-- title -->
{% block title %}{{block.super}}Add Home Post{% endblock title %}


<!-- css -->
{% block css %}
{{block.super}}

    <!--ios7-->
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/ios-switch/switchery.css" />

    <!--icheck-->
    <link href="{% get_static_prefix %}js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
    <link href="{% get_static_prefix %}js/iCheck/skins/minimal/red.css" rel="stylesheet">
    <link href="{% get_static_prefix %}js/iCheck/skins/minimal/green.css" rel="stylesheet">
    <link href="{% get_static_prefix %}js/iCheck/skins/minimal/blue.css" rel="stylesheet">
    <link href="{% get_static_prefix %}js/iCheck/skins/minimal/yellow.css" rel="stylesheet">
    <link href="{% get_static_prefix %}js/iCheck/skins/minimal/purple.css" rel="stylesheet">

    <link href="{% get_static_prefix %}js/iCheck/skins/square/square.css" rel="stylesheet">
    <link href="{% get_static_prefix %}js/iCheck/skins/square/red.css" rel="stylesheet">
    <link href="{% get_static_prefix %}js/iCheck/skins/square/green.css" rel="stylesheet">
    <link href="{% get_static_prefix %}js/iCheck/skins/square/blue.css" rel="stylesheet">
    <link href="{% get_static_prefix %}js/iCheck/skins/square/yellow.css" rel="stylesheet">
    <link href="{% get_static_prefix %}js/iCheck/skins/square/purple.css" rel="stylesheet">

    <link href="{% get_static_prefix %}js/iCheck/skins/flat/grey.css" rel="stylesheet">
    <link href="{% get_static_prefix %}js/iCheck/skins/flat/red.css" rel="stylesheet">
    <link href="{% get_static_prefix %}js/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="{% get_static_prefix %}js/iCheck/skins/flat/blue.css" rel="stylesheet">
    <link href="{% get_static_prefix %}js/iCheck/skins/flat/yellow.css" rel="stylesheet">
    <link href="{% get_static_prefix %}js/iCheck/skins/flat/purple.css" rel="stylesheet">

    <!--multi-select-->
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/jquery-multi-select/css/multi-select.css" />

    <!--file upload-->
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/bootstrap-fileupload.min.css" />

{% endblock css %}


<!-- heading & breadcrump -->
{% block heading %}

        <div class="page-heading">
            <h3>
                Add Home Post
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="{% url 'dash' %}">Dashboard</a>
                </li>
                <li>
                    <a href="#">Home Post</a>
                </li>
                <li class="active"> Add Home Post </li>
            </ul>
        </div>

{% endblock heading %}


<!-- content -->
{% block content %}
 
        <div class="row">
            <div class="col-lg-12">
                <section class="panel panel-success">
                    <header class="panel-heading">
                        Add Home Post
                    </header>
                    <div class="panel-body" style="background-color: #e4dede;">

                    <form role="form" method="post" action="{% url 'addhp' %}" enctype="multipart/form-data">
                    {% csrf_token %}

                        <div class="col-md-12" style="text-align:center;">
                            <label for="exampleInputEmail1">Home Post</label><br><br>
                            <div class="fileupload fileupload-new" data-provides="fileupload">

                                <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=No+Category+Thumb" alt="" />
                                </div>

                                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>

                                <div><br>
                                        <span class="btn btn-default btn-file">
                                        <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Select image</span>
                                        <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                                        <input type="file" name="hpimg" class="default" required=""/>
                                        </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash"></i> Remove</a>
                                </div>
                                
                            </div>
                        </div>

                        {% comment %} <div class="col-lg-6">

                            <div class="form-group">
                                <label for="exampleInputEmail1">Home Post</label>
                                <input type="file" name="hpimg" class="form-control round-input" required="">
                            </div>

                        </div> {% endcomment %}

                        <div class="col-lg-12"><hr></div>

                        <div class="col-lg-12">

                            <div class="form-group">
                                <label for="exampleInputEmail1">Status</label>
                                
                                <select class="form-control" style="border-radius:25px 25px 25px 25px;" name="sta" required="">
                                    <option value="none" selected disabled>--- Status ---</option>
                                    <option value="Active">Active</option>
                                    <option value="Deactive">Deactive</option>
                                </select>

                            </div>  

                        </div>  
                        
                        <div class="col-lg-12"><hr></div>

                        <div class="col-lg-12"> 
                        
                                <br>       

                            <center>
                                    <button type="submit" style="border-radius:25px 25px 25px 25px; text-align:center;" class="btn btn-lg btn-success"><i class="fa fa-check"></i> Add Home Post</button> &nbsp; &nbsp; &nbsp; &nbsp;

                                    <button type="reset" style="border-radius:25px 25px 25px 25px" class="btn btn-lg btn-danger"><i class="fa fa-eraser"></i> Clear</button>
                            </center>
                            
                                <br>

                        </div>

                        </form>

                    </div>
                </section>

            </div>
        </div>

{% endblock content %}


<!-- js -->
{% block js %}
{{block.super}}

<!--ios7-->
<script src="{% get_static_prefix %}js/ios-switch/switchery.js" ></script>
<script src="{% get_static_prefix %}js/ios-switch/ios-init.js" ></script>

<!--icheck -->
<script src="{% get_static_prefix %}js/iCheck/jquery.icheck.js"></script>
<script src="{% get_static_prefix %}js/icheck-init.js"></script>

<!--multi-select-->
<script type="text/javascript" src="{% get_static_prefix %}js/jquery-multi-select/js/jquery.multi-select.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/jquery-multi-select/js/jquery.quicksearch.js"></script>
<script src="{% get_static_prefix %}js/multi-select-init.js"></script>

<!--spinner-->
<script type="text/javascript" src="{% get_static_prefix %}js/fuelux/js/spinner.min.js"></script>
<script src="{% get_static_prefix %}js/spinner-init.js"></script>

<!--file upload-->
<script type="text/javascript" src="{% get_static_prefix %}js/bootstrap-fileupload.min.js"></script>

<!--bootstrap input mask-->
<script type="text/javascript" src="{% get_static_prefix %}js/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>

{% endblock js %}
